<!-- BEGIN desktop-toggler -->
<div class="desktop-toggler">
  <button
    type="button"
    class="menu-toggler"
    (click)="handleAppToggleClass($event, 'app-sidebar-collapsed')"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>
<!-- BEGIN desktop-toggler -->

<!-- BEGIN mobile-toggler -->
<div class="mobile-toggler">
  <button
    type="button"
    class="menu-toggler"
    (click)="handleAppToggleClass($event, 'app-sidebar-mobile-toggled')"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
</div>
<!-- END mobile-toggler -->

<!-- BEGIN brand -->
<div class="brand">
  <a routerLink="/" class="brand-logo">
    <span class="brand-img">
      <span class="brand-img-text text-theme">T</span>
    </span>
    <span class="brand-text">TERRA VERDE</span>
  </a>
</div>
<!-- END brand -->

<!-- BEGIN menu -->
<div class="menu">
  <div class="menu-item dropdown">
    <a
      href="javascript:;"
      (click)="handleAppToggleClass($event, 'app-header-menu-search-toggled')"
      class="menu-link"
    >
      <div class="menu-icon"><i class="bi bi-search nav-icon"></i></div>
    </a>
  </div>
  <div class="menu-item dropdown dropdown-mobile-full">
    <a
      href="javascript:;"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      class="menu-link"
    >
      <div class="menu-icon"><i class="bi bi-grid-3x3-gap nav-icon"></i></div>
    </a>
    <div
      class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1"
    >
      <div class="row row-grid gx-0">
        <div class="col-4">
          <a
            (click)="notImplemented()"
            target="_blank"
            class="dropdown-item text-decoration-none p-3 bg-none"
          >
            <div>
              <i class="bi bi-hdd-network h2 opacity-5 d-block my-1"></i>
            </div>
            <div class="fw-500 fs-10px text-inverse">DISPENSARIO</div>
          </a>
        </div>
        <div class="col-4">
          <a
            (click)="notImplemented()"
            class="dropdown-item text-decoration-none p-3 bg-none"
          >
            <div><i class="bi bi-calendar4 h2 opacity-5 d-block my-1"></i></div>
            <div class="fw-500 fs-10px text-inverse">CALENDARIO</div>
          </a>
        </div>

        <div class="col-4">
          <a
            (click)="notImplemented()"
            class="dropdown-item text-decoration-none p-3 bg-none"
          >
            <div class="position-relative">
              <!-- bi bi-circle-fill (active)-->
              <i
                class="position-absolute text-theme top-0 mt-n2 me-n2 fs-6px d-block text-center w-100"
              ></i>
              <i class="bi bi-sliders h2 opacity-5 d-block my-1"></i>
            </div>
            <div class="fw-500 fs-10px text-inverse">AJUSTES</div>
          </a>
        </div>
      </div>
      <div class="row row-grid gx-0"></div>
    </div>
  </div>
  <div class="menu-item dropdown dropdown-mobile-full">
    <a
      href="javascript:;"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      class="menu-link"
    >
      <div class="menu-icon"><i class="bi bi-bell nav-icon"></i></div>
      <div
        class="menu-badge bg-theme"
        *ngIf="notificationData.length > 0"
      ></div>
    </a>
    <div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">
      <h6 class="dropdown-header fs-10px mb-1">NOTIFICACIONES</h6>
      <div class="dropdown-divider mt-1"></div>
      <ng-container *ngIf="notificationData.length > 0">
        <a
          href="javascript:;"
          class="d-flex align-items-center py-10px dropdown-item text-wrap fw-semibold"
          *ngFor="let notification of notificationData"
        >
          <div class="fs-20px">
            <i *ngIf="notification.icon" [ngClass]="notification.icon"></i>
          </div>
          <div class="flex-1 flex-wrap ps-3">
            <div class="mb-1 text-inverse">{{ notification.title }}</div>
            <div class="small text-inverse text-opacity-50">
              {{ notification.time }}
            </div>
          </div>
          <div class="ps-2 fs-16px">
            <i class="bi bi-chevron-right"></i>
          </div>
        </a>
      </ng-container>
      <ng-container *ngIf="notificationData.length == 0">
        <div
          class="d-flex align-items-center py-10px dropdown-item text-wrap fs-6 bg-inverse bg-opacity-15 text-inverse text-opacity-50 h-100px"
        >
          No hay registros
        </div>
      </ng-container>
      <hr class="my-0 mt-2" />
      <div class="py-10px mb-n2 text-center">
        <a
          href="javascript:;"
          class="text-decoration-none fw-bold prohibited"
          (click)="notImplemented()"
          >VER TODO</a
        >
      </div>
    </div>
  </div>
  <div class="menu-item dropdown dropdown-mobile-full">
    <a
      href="javascript:;"
      data-bs-toggle="dropdown"
      data-bs-display="static"
      class="menu-link"
    >
      <div class="menu-img online">
        <div
          class="d-flex align-items-center justify-content-center w-100 h-100 bg-inverse bg-opacity-25 text-inverse text-opacity-50 rounded-circle overflow-hidden"
        >
          <i class="bi bi-person-fill fs-32px mb-n3"></i>
        </div>
      </div>
      <div class="menu-text d-sm-block d-none w-170px">
        {{ username }}
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
      <!-- <a
        class="dropdown-item d-flex align-items-center prohibited"
        (click)="notImplemented()"
        >PERFIL
        <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i
      ></a> -->
      <a
        class="dropdown-item d-flex align-items-center prohibited"
        (click)="notImplemented()"
        >CALENDARIO
        <i class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i
      ></a>
      <a
        class="dropdown-item d-flex align-items-center"
        (click)="openCheckPasswordDialog()"
        >RESET <i class="bi bi-key ms-auto text-theme fs-16px my-n1"></i
      ></a>
      <!-- <a
        class="dropdown-item d-flex align-items-center prohibited"
        (click)="notImplemented()"
        >AJUSTES <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i
      ></a> -->
      <div class="dropdown-divider"></div>
      <a (click)="signout()" class="dropdown-item d-flex align-items-center"
        >LOGOUT <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i
      ></a>
    </div>
  </div>
</div>
<!-- END menu -->

<!-- BEGIN menu-search -->
<form class="menu-search" method="POST" name="header_search_form">
  <div class="menu-search-container">
    <div class="menu-search-icon"><i class="bi bi-search"></i></div>
    <div class="menu-search-input">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Search menu..."
      />
    </div>
    <div class="menu-search-icon">
      <a
        href="javascript:;"
        (click)="handleAppToggleClass($event, 'app-header-menu-search-toggled')"
        ><i class="bi bi-x-lg"></i
      ></a>
    </div>
  </div>
</form>
<!-- END menu-search -->
