<div class="modal-body">
  <!-- FORMULARIO CREACION PRODUCTO -->
  <card>
    <card-header
      class="d-block d-flex align-items-center bg-inverse bg-opacity-10 fw-400"
    >
      DATOS DEL PRODUCTO
    </card-header>

    <div class="card-body">
      <form [formGroup]="editProductForm" class="form-container">
        <div class="row">
          <!-- Columna 1 -->
          <div class="col-xl-9 col-12">
            <!-- NOMBRE -->
            <div class="form-group first-group">
              <div class="row">
                <label for="name" class="col-12 col-xl-1 col-form-label"
                  >Nombre</label
                >
                <div class="col-12 col-xl-8">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    [errorStateMatcher]="matcher"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      nameControl.invalid &&
                      (nameControl.dirty || nameControl.touched)
                    "
                  >
                    <span *ngIf="nameControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>
                <!-- Activo? -->
                <div class="active-container col-12 col-xl-2">
                  <label for="active" class="col-form-label">Activo</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="active"
                    formControlName="active"
                  />
                </div>
              </div>
            </div>

            <!-- Descripción -->
            <div class="form-group">
              <div class="row description" *ngIf="product">
                <label for="description" class="col-12 col-form-label"
                  >Descripción</label
                >
                <div class="col-12 col-xl-11 text-editor-container">
                  <app-text-editor
                    [productDescription]="product.description || ''"
                    (editorValueChange)="
                      editProductForm.controls['description'].setValue($event)
                    "
                  ></app-text-editor>
                </div>
              </div>
            </div>
            <div
              class="form-group percentages"
              *ngIf="selectedCategory!.type == productsType.MANCOMUNADOS"
            >
              <div class="row">
                <!-- Sativa -->
                <label for="sativa" class="col-12 col-xl-1 col-form-label"
                  >Sativa</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="sativa"
                      formControlName="sativa"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="
                      sativaControl.invalid &&
                      (sativaControl.dirty || sativaControl.touched)
                    "
                  >
                    <span *ngIf="sativaControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>

                <!-- Indica -->
                <label for="indica" class="col-12 col-xl-1 col-form-label"
                  >Indica</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="indica"
                      formControlName="indica"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="
                      indicaControl.invalid &&
                      (indicaControl.dirty || indicaControl.touched)
                    "
                  >
                    <span *ngIf="indicaControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>

                <!-- THC -->
                <label for="thc" class="col-12 col-xl-1 col-form-label"
                  >THC</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="thc"
                      formControlName="thc"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="
                      thcControl.invalid &&
                      (thcControl.dirty || thcControl.touched)
                    "
                  >
                    <span *ngIf="thcControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>

                <!-- CBD -->
                <label for="cbd" class="col-12 col-xl-1 col-form-label"
                  >CBD</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="cbd"
                      formControlName="cbd"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>

                  <mat-error
                    *ngIf="
                      cbdControl.invalid &&
                      (cbdControl.dirty || cbdControl.touched)
                    "
                  >
                    <span *ngIf="cbdControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>
              </div>
            </div>

            <div
              class="form-group flawour"
              *ngIf="selectedCategory!.type == productsType.MANCOMUNADOS"
            >
              <div class="row">
                <!-- BANCO -->
                <label for="bank" class="col-12 col-xl-1 col-form-label"
                  >Banco</label
                >
                <div class="col-12 col-xl-3">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    id="bank"
                    formControlName="bank"
                    [errorStateMatcher]="matcher"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      bankControl.invalid &&
                      (bankControl.dirty || bankControl.touched)
                    "
                  >
                    <span *ngIf="bankControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>

                <!-- SABOR -->
                <label for="flawour" class="col-12 col-xl-1 col-form-label"
                  >Sabor</label
                >
                <div class="col-12 col-xl-6">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    id="flawour"
                    formControlName="flawour"
                    [errorStateMatcher]="matcher"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      flawourControl.invalid &&
                      (flawourControl.dirty || flawourControl.touched)
                    "
                  >
                    <span *ngIf="flawourControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>
              </div>
              <div class="row">
                <!-- EFECTO -->
                <label for="effect" class="col-12 col-xl-1 col-form-label"
                  >Efecto</label
                >
                <div class="col-12 col-xl-10">
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control"
                    id="effect"
                    formControlName="effect"
                    [errorStateMatcher]="matcher"
                    matInput
                  />
                  <mat-error
                    *ngIf="
                      effectControl.invalid &&
                      (effectControl.dirty || effectControl.touched)
                    "
                  >
                    <span *ngIf="effectControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                  </mat-error>
                </div>
              </div>
            </div>

            <div
              class="form-group"
              *ngIf="selectedCategory!.type == productsType.TERCEROS"
            >
              <div class="row prices">
                <!-- LOTE? -->
                <!-- <div class="lot-container col-12 col-xl-2">
                  <label for="lot" class="col-form-label lote-label"
                    >Lote</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="lot"
                    [checked]="lot"
                    formControlName="lot"
                    (click)="toggleLot()"
                  />
                </div> -->
                <!-- PRECIO COSTE -->
                <!-- <label
                  for="cost_price"
                  class="col-12 col-xl-1 col-form-label"
                  >{{ lot ? "Coste / lote" : "Coste / ud." }}</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="cost_price"
                      formControlName="cost_price"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">€</span>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="
                      costControl.invalid &&
                      (costControl.dirty || costControl.touched)
                    "
                  >
                    <span *ngIf="costControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                    <span *ngIf="costControl.hasError('min')"
                      >La cantidad debe ser mayor que cero.</span
                    >
                  </mat-error>
                </div> -->

                <!-- PRECIO VENTA -->
                <label for="sale_price" class="col-12 col-xl-2 col-form-label"
                  >Precio retirada / ud.</label
                >
                <div class="col-12 col-xl-2">
                  <div class="input-group">
                    <input
                      autocomplete="off"
                      type="number"
                      class="form-control"
                      id="sale_price"
                      formControlName="sale_price"
                      [errorStateMatcher]="matcher"
                      matInput
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">€</span>
                    </div>
                  </div>
                  <mat-error
                    *ngIf="
                      saleControl.invalid &&
                      (saleControl.dirty || saleControl.touched)
                    "
                  >
                    <span *ngIf="saleControl.hasError('required')">
                      Campo obligatorio.</span
                    >
                    <span *ngIf="saleControl.hasError('min')"
                      >La cantidad debe ser mayor que cero.</span
                    >
                  </mat-error>
                </div>
              </div>
            </div>
          </div>

          <!-- Columna 2 -->
          <div class="col-xl-3 col-12">
            <!-- CATEGORIA -->
            <label for="category_id" class="col-12 col-form-label"
              >Categoría</label
            >
            <div class="col-12 col-xl-12 select-container">
              <select
                (change)="onCategoryChange($event)"
                id="category_id"
                formControlName="category_id"
                class="form-select float-start"
              >
                <option
                  *ngFor="let cat of filteredCategories"
                  [value]="cat.category_id"
                >
                  {{ cat.name | uppercase }}
                </option>
              </select>
            </div>
            <!-- SUBCATEGORIA -->
            <label for="subcategories" class="col-12 col-form-label"
              >Subcategorías</label
            >
            <div class="col-12 col-xl-12 select-container">
              <select
                multiple
                id="subcategories"
                formControlName="subcategories"
                class="form-select float-start"
              >
                <option
                  *ngFor="let sub of filteredSubcategories"
                  [value]="sub.subcategory_id"
                >
                  {{ sub.name | uppercase }}
                </option>
              </select>
            </div>

            <!-- ANCESTROS -->
            <ng-container
              *ngIf="selectedCategory!.type == productsType.MANCOMUNADOS"
              ><label for="ancestors" class="col-12 col-xl-1 col-form-label"
                >Ancestros</label
              >
              <div class="col-12 col-xl-12 select-container">
                <select
                  multiple
                  id="ancestors"
                  formControlName="ancestors"
                  #selectedSub
                  gory
                  class="form-select float-start"
                >
                  <option
                    *ngFor="let anc of ancestors"
                    [value]="anc.product_id"
                  >
                    {{ anc.name | uppercase }}
                  </option>
                </select>
              </div>
            </ng-container>
          </div>
        </div>
        <div
          class="save-btn-container d-block d-flex justify-content-end w-100 fw-400"
        >
          <button
            type="button"
            class="btn btn-outline-theme"
            (click)="close(modalActions.NEXT)"
          >
            Guardar y subir documentación
          </button>
          <button
            type="button"
            class="btn btn-outline-theme"
            (click)="close(modalActions.SAVE)"
          >
            Guardar y cerrar
          </button>
        </div>
      </form>
    </div>
  </card>
  <!-- FORMULARIO CREACION PRODUCTO -->

  <!-- FORMULARIO DOCUMENTACION -->
  <div class="file-mng">
    <app-file-uploader
      (switch)="switchEvent($event)"
      *ngIf="!switchEventActive"
    ></app-file-uploader>
    <app-file-downloader
      (switch)="switchEvent($event)"
      *ngIf="switchEventActive"
    ></app-file-downloader>
    <!-- FORMULARIO DOCUMENTACION -->
  </div>
  <div
    class="modal-footer d-block d-flex align-items-center bg-inverse bg-opacity-10 fw-400"
  >
    <button
      type="button"
      class="btn btn-warning"
      (click)="close(modalActions.CANCEL)"
    >
      Cerrar
    </button>
  </div>
</div>
