<div class="container-fluid">
  <div class="search">
    <ng-container *ngIf="searchTypes">
      <app-searcher
        [options]="options"
        [searchTypes]="searchTypes"
        (optionSelected)="handleOptionSelected($event)"
      ></app-searcher>
    </ng-container>
  </div>

  <ng-container *ngIf="isLoading; else productSelection">
    <div class="d-flex justify-content-center align-items-center py-4 spinner">
      <div class="spinner-grow text-success"></div>
    </div>
    <p class="text-center">Esperando variedad...</p>
  </ng-container>
  <ng-template #productSelection>
    <div class="row content">
      <div class="col-lg-10">
        <!-- Primer card -->
        <div class="row row-cols-1 row-cols-xl-2 g-3">
          <div class="col">
            <card class="card h-100 data-card mb-4">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">DATOS VARIEDAD</div>
              </card-header>
              <card-body class="pb-2">
                <!-- nombre -->
                <div class="property name">
                  <span class="property-name">Nombre:</span>
                  <span class="property-value fw-bold text-theme">{{
                    product!.name | uppercase
                  }}</span>
                </div>
                <!-- code -->
                <div class="property">
                  <span class="property-name">Código:</span>
                  <span class="property-value fw-bold text-theme">{{
                    product!.code
                  }}</span>
                </div>
                <!-- alta -->
                <div class="property">
                  <span class="property-name">Alta:</span>
                  <span class="property-value">{{
                    formatDate(product!.created_at!)
                  }}</span>
                </div>
                <!-- categoría -->
                <!-- <div class="property">
                    <span class="property-name">Categoría:</span>
                    <span class="property-value">{{
                      getCategoryName(product!.category_id)
                    }}</span>
                  </div> -->
                <!-- subcategorías -->
                <div class="property">
                  <span class="property-name">Características:</span>
                  <span class="property-value">{{
                    getSubcategoryNames(product!.subcategories)
                  }}</span>
                </div>
                <!-- <h6 class="card-subtitle mb-3 text-inverse text-opacity-50">
                    Genética
                  </h6> -->
                <!-- Ancestros -->
                <div class="property ancestors">
                  <span class="property-name">Ancestros:</span>
                  <span class="property-value">{{
                    getProductNames(product!.ancestors!) | titlecase
                  }}</span>
                </div>
                <!-- Sativa -->
                <div class="property">
                  <span class="property-name">Sativa:</span>
                  <span class="property-value fw-bold"
                    >{{ product!.sativa }} %</span
                  >
                </div>
                <!-- Indica -->
                <div class="property">
                  <span class="property-name">Indica:</span>
                  <span class="property-value fw-bold"
                    >{{ product!.indica }} %</span
                  >
                </div>
                <!-- THC -->
                <div class="property">
                  <span class="property-name">THC:</span>
                  <span class="property-value fw-bold"
                    >{{ product!.thc }} %</span
                  >
                </div>
                <!-- CBD -->
                <div class="property">
                  <span class="property-name">CBD:</span>
                  <span class="property-value fw-bold"
                    >{{ product!.cbd }} %</span
                  >
                </div>
                <!-- BANCO -->
                <div class="property bank">
                  <span class="property-name">Banco:</span>
                  <span class="property-value"
                    >{{ product!.bank | titlecase }}
                  </span>
                </div>
                <!-- SABOR -->
                <div class="property">
                  <span class="property-name">Sabor:</span>
                  <span class="property-value">{{ product!.flawour }} </span>
                </div>
                <!-- EFECTO -->
                <div class="property">
                  <span class="property-name">Efecto:</span>
                  <span class="property-value">{{ product!.effect }} </span>
                </div>
                <div class="stock-data">
                  <!-- stock -->
                  <div class="property stock">
                    <span
                      [ngClass]="{
                        'text-warning':
                          product!.stock! >= 0 && product!.stock! <= 10,
                        'text-info': product!.stock! > 10
                      }"
                      class="property-name"
                      >Stock</span
                    >
                    <span
                      [ngClass]="{
                        'text-warning':
                          product!.stock! >= 0 && product!.stock! <= 10,
                        'text-info': product!.stock! > 10
                      }"
                      class="property-value fw-bold"
                      >{{ product!.stock }} GR.</span
                    >
                  </div>
                </div>
              </card-body>
            </card>
          </div>

          <!-- Segundo card -->
          <div class="col">
            <card class="card h-100 activity-card">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">CULTIVOS</div>
              </card-header>
              <card-body class="pb-2">
                <!-- <h6
                  class="card-subtitle mb-3 text-inverse text-opacity-50"
                  style="margin-top: 15px"
                >
                  CULTIVOS
                </h6> -->

                <ng-container *ngIf="harvests.length === 0; else listHarvest">
                  <div
                    class="d-flex justify-content-center align-items-center py-4 spinner"
                  >
                    <div class="spinner-grow text-success"></div>

                    <p class="text-center fw-bold text-theme">
                      Esperando cultivos...
                    </p>
                  </div>
                </ng-container>
                <ng-template #listHarvest>
                  <div class="list-group">
                    <a
                      (click)="openDetails(item)"
                      class="list-group-item list-group-item-action"
                      *ngFor="
                        let item of harvests
                          | paginate : { itemsPerPage: 10, currentPage: p }
                      "
                    >
                      <!-- <span class="hide">{{ item.harvest_id }}</span> -->
                      <span class="text-info">{{ item.code }}</span>
                      <span
                        >{{
                          getProductStock(item) | number : "1.2-2"
                        }}
                        gr.</span
                      >
                    </a>
                  </div>

                  <pagination-controls
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    (pageChange)="p = $event"
                    class="pagination"
                  ></pagination-controls>
                </ng-template>
              </card-body>
            </card>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="button-container">
          <button class="btn btn-info" (click)="openEditProductDialog()">
            <i class="bi bi-pencil-square"></i> Editar & Doc.
          </button>
          <button class="btn btn-default" (click)="openCreateHarvestDialog()">
            <i class="bi bi-cart-plus"></i> Nuevo cultivo
          </button>
          <button
            (click)="openCreateProductDialog()"
            class="btn btn-success new-product-btn"
          >
            <i class="bi bi-plus-circle"></i> Nueva variedad
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Botón creación -->
  <div *ngIf="!product" class="new-product-standalone">
    <button
      (click)="openCreateProductDialog()"
      class="btn btn-success new-product-btn"
    >
      <i class="bi bi-plus-circle"></i> Nueva variedad
    </button>
  </div>
</div>
