<div class="modal-body">
  <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab">
    <li class="nav-item">
      <a
        class="nav-link active fw-600"
        id="pills-home-tab"
        data-bs-toggle="pill"
        href="#retiradas"
        >RETIRADAS</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-600"
        id="pills-contact-tab"
        data-bs-toggle="pill"
        href="#cuenta"
        >MOVIMIENTOS CUENTA</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-600"
        id="pills-contact-tab"
        data-bs-toggle="pill"
        href="#cuotas"
        >CUOTAS</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-600"
        id="pills-profile-tab"
        data-bs-toggle="pill"
        href="#sanciones"
        >SANCIONES</a
      >
    </li>
  </ul>
  <div class="tab-content" id="tab-content">
    <div class="tab-pane fade show active" id="retiradas">
      <app-withdrawals [partner]="partner"></app-withdrawals>
    </div>
    <div class="tab-pane fade" id="sanciones">
      <app-sanctions
        (sanctionModified)="onSanctionModified()"
        [partner]="partner"
      ></app-sanctions>
    </div>
    <div class="tab-pane fade" id="cuenta">
      <app-partner-account-history
        [partner]="partner"
      ></app-partner-account-history>
    </div>
    <div class="tab-pane fade" id="cuotas">
      <app-fees-history [fees]="fees" [partner]="partner"></app-fees-history>
    </div>
  </div>
</div>
<div
  class="modal-footer d-block d-flex align-items-center bg-inverse bg-opacity-10 fw-400"
>
  <button (click)="close(false)" type="button" class="btn btn-warning">
    Cerrar
  </button>
</div>
