<p>accounting-details works!</p>
<div class="container-fluid">
  <div class="search">
    <ng-container *ngIf="searchTypes">
      <app-searcher
        [options]="options"
        [searchTypes]="searchTypes"
        (optionSelected)="handleOptionSelected($event)"
      ></app-searcher>
    </ng-container>
  </div>

  <ng-container *ngIf="isLoading; else transactionSelection">
    <div class="d-flex justify-content-center align-items-center py-4 spinner">
      <div class="spinner-grow text-success"></div>
    </div>
    <p class="text-center">Esperando cultivador...</p>
  </ng-container>
  <ng-template #transactionSelection>
    <div class="row content">
      <div class="col-lg-10">
        <!-- Primer card -->
        <div class="row row-cols-1 row-cols-xl-2 g-3">
          <div class="col">
            <card class="card h-100 data-card mb-4">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">DATOS</div>
              </card-header>
              <card-body class="pb-2">
                <!-- nombre -->
                <div class="property name">
                  <span class="property-name">Código:</span>
                  <span class="property-value fw-bold text-theme">{{
                    transaction!.code | uppercase
                  }}</span>
                </div>
                <!-- Email -->
                <div class="property">
                  <span class="property-name">Tipo:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.transaction_type_name || "N/A"
                  }}</span>
                </div>
                <!-- Teléfono -->
                <div class="property">
                  <span class="property-name">Cantidad:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.amount || "N/A"
                  }}</span>
                </div>
                <!-- Teléfono -->
                <div class="property">
                  <span class="property-name">Recurrente:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.recurrence_days || "N/A"
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name"
                    >Número de pagos recurrentes:</span
                  >
                  <span class="property-value fw-bold">{{
                    transaction!.recurrence_times || "N/A"
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Inicio pagos:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.date_start || "N/A"
                  }}</span>
                </div>
                <!-- alta -->
                <div class="property">
                  <span class="property-name">Interes:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.interest || "N/A"
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Observaciones:</span>
                  <span class="property-value fw-bold">{{
                    transaction!.notes || "N/A"
                  }}</span>
                </div>
              </card-body>
            </card>
          </div>

          <!-- Segundo card -->
          <div class="col">
            <card class="card h-100 activity-card">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">PAGOS</div>
              </card-header>
              <card-body class="pb-2">
                <!-- <h6
                        class="card-subtitle mb-3 text-inverse text-opacity-50"
                        style="margin-top: 15px"
                      >
                        CULTIVOS
                      </h6> -->
                <ng-container *ngIf="payments.length === 0; else listPayments">
                  <div
                    class="d-flex justify-content-center align-items-center py-4 spinner"
                  >
                    <div class="spinner-grow text-success"></div>

                    <p class="text-center fw-bold text-theme">
                      Esperando pagos...
                    </p>
                  </div>
                </ng-container>
                <ng-template #listPayments>
                  <div class="list-group">
                    <a
                      (click)="openDetails(item)"
                      class="list-group-item list-group-item-action"
                      *ngFor="
                        let item of payments
                          | paginate : { itemsPerPage: 10, currentPage: p }
                      "
                    >
                      <!-- <span class="hide">{{ item.harvest_id }}</span> -->
                      <span class="text-info">{{ item.reference_id }}</span>
                      <span>{{ item.amount | number : "1.2-2" }} gr.</span>
                    </a>
                  </div>

                  <pagination-controls
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    (pageChange)="p = $event"
                    class="pagination"
                  ></pagination-controls>
                </ng-template>
              </card-body>
            </card>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="button-container">
          <button class="btn btn-info" (click)="openEditTransactionDialog()">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button
            (click)="openCreateTransactionDialog()"
            class="btn btn-success new-transaction-btn"
          >
            <i class="bi bi-plus-circle"></i> Nueva transacción
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Botón creación -->
  <div *ngIf="!transaction" class="new-accounting-standalone">
    <button
      (click)="openCreatetransactionDialog()"
      class="btn btn-success new-accounting-btn"
    >
      <i class="bi bi-plus-circle"></i> Nueva transacción
    </button>
  </div>
</div>
