<ul
  #nav
  class="nav nav-pills mb-3 nav-fill"
  [ngClass]="{ 'fixed-tabs': isNavFixed }"
>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.TRANSACTIONS_DETAILS"
      routerLinkActive="active"
    >
      <i [class]="icons.TRANSACTIONS_DETAILS"></i> CONSULTA
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.TRANSACTIONS_LIST"
      routerLinkActive="active"
    >
      <i [class]="icons.TRANSACTIONS_LIST"></i> LISTADO
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.TRANSACTIONS_STATISTICS"
      routerLinkActive="active"
    >
      <i [class]="icons.TRANSACTIONS_STATISTICS"></i> ESTADÍSTICAS
    </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <router-outlet></router-outlet>
</div>
