.container-fluid {
    margin-top: 30px;
}

.severity-container,
.description-container {
    margin-bottom: 15px;
}

.form {
    padding: 30px;

    label {
        font-size: .9rem;
    }

    select {
        max-width: 300px;
    }
}

.no-sanctions {
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-pack: center;
    -ms-flex-pack   : center;
    justify-content : center;
    font-size       : 1rem;
    font-weight     : 600;
    margin-bottom   : 50px;
}