.btn-submit {
    margin: 40px auto -20px auto;
}

.password1-container,
.password2-container {
    height: 50px;
}

.login {
    .pass-must-have {
        text-align: left;

        li {
            margin-bottom: 10px;
        }
    }
}