<!-- BEGIN login -->
<div class="login">
  <!-- BEGIN login-content -->
  <div class="login-content">
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="submit(passwordForm)"
      autocomplete="off"
      #formDirective="ngForm"
    >
      <h1 class="text-center text-light">Reset de contraseña</h1>
      <div class="text-inverse text-opacity-50 text-center mb-4">
        <ul class="pass-must-have">
          <li>
            La contraseña debe contener un mínimo de
            <span class="text-primary-emphasis">{{
              config.VALIDATION.PASSWORD_MIN
            }}</span>
            caracteres y un máximo de
            <span class="text-primary-emphasis">{{
              config.VALIDATION.PASSWORD_MAX
            }}</span
            >.
          </li>
          <li>
            La contraseña debe contener como mínimo
            <span class="text-primary-emphasis"
              >una letra minúscula, una mayúscula, y un caracter especial</span
            >
            de entre los siguientes:
            <span class="text-primary-emphasis">!@#$%^&_-*</span>.
          </li>
        </ul>
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Contraseña <span class="text-danger">*</span></label
        >
        <div class="password1-container">
          <input
            type="password"
            class="form-control form-control-lg bg-inverse bg-opacity-5"
            formControlName="password1"
            matInput
            placeholder="Escribe tu password"
            [errorStateMatcher]="matcher"
            autocomplete="off"
          />
          <mat-error
            *ngIf="password1.invalid && (password1.dirty || password1.touched)"
          >
            <span
              *ngIf="
                (password1.hasError('minlength') ||
                  password1.hasError('maxlength')) &&
                !password1.hasError('required')
              "
              >{{ config.VALIDATION.PASSWORD_MIN }} -
              {{ config.VALIDATION.PASSWORD_MAX }} caracteres.
            </span>
          </mat-error>
          <mat-error
            *ngIf="password1.invalid && (password1.dirty || password1.touched)"
          >
            <span
              *ngIf="
                password1.hasError('pattern') && !password1.hasError('required')
              "
            >
              Formato de password inválido.</span
            >
          </mat-error>
          <mat-error
            *ngIf="password1.invalid && (password1.dirty || password1.touched)"
          >
            <span *ngIf="password1.hasError('required')">
              Campo obligatorio.</span
            >
          </mat-error>
        </div>
      </div>
      <div class="mb-3 input">
        <div class="d-flex">
          <label class="form-label"
            >Repite la contraseña <span class="text-danger">*</span></label
          >
        </div>
        <div class="password2-container">
          <input
            type="password"
            class="form-control form-control-lg bg-inverse bg-opacity-5"
            value=""
            placeholder="Escribe tu password"
            matInput
            formControlName="password2"
            [errorStateMatcher]="matcher"
            (change)="onPasswordChange()"
            autocomplete="off"
          />
          <mat-error
            *ngIf="password2.invalid && (password2.dirty || password2.touched)"
          >
            <span
              *ngIf="
                !password2.hasError('required') &&
                password2.hasError('matchPasswords')
              "
              >Las contraseñas no coinciden.</span
            >
          </mat-error>
          <mat-error
            *ngIf="password2.invalid && (password2.dirty || password2.touched)"
          >
            <span *ngIf="password2.hasError('required')"
              >Campo obligatorio.</span
            >
          </mat-error>
        </div>
      </div>
      <button
        type="submit"
        class="btn-submit btn btn-outline-theme btn-lg d-block w-100 fw-500 btn-submit input"
      >
        Enviar
      </button>
      <button
        routerLink="/login"
        type="button"
        class="btn btn-warning btn-lg d-block w-100 fw-500 btn-submit input"
      >
        Login
      </button>
    </form>
  </div>
</div>
