<div class="users-container">
  <div class="row justify-content-left">
    <div class="col-12">
      <div class="mb-5">
        <card>
          <card-header
            class="d-block d-flex align-items-center justify-content-center bg-inverse bg-opacity-10 fw-600"
            >USUARIOS ONLINE</card-header
          >
          <card-body class="card-body">
            <div
              class="text-inverse text-opacity-50 mb-3 table-container table-responsive"
            >
              <mat-table
                mat-table
                [dataSource]="dataSource"
                matSort
                multiTemplateDataRows
                #usersListTable
              >
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Email</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Email:</div>
                    <div class="cell-value">
                      {{ row.email }}
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="user_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >ID</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">ID:</div>
                    <div class="cell-value">{{ row.user_id }}</div>
                  </mat-cell>
                </ng-container>

                <!-- actions column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div
                      class="btn-group btn-group-toggle"
                      data-toggle="buttons"
                    >
                      <button
                        (click)="logOutRemoteUser(row.user_id!)"
                        class="btn btn-warning"
                      >
                        <i class="bi bi-person-x-fill"> Kick out</i>
                      </button>
                      <!-- <button
                      (click)="openConfirmDialog(row.user_id)"
                      type="button"
                      class="btn btn-danger"
                    >
                      <i class="bi bi-x-circle"></i>
                    </button> -->
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>
                <mat-row
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                  [ngClass]="{
                    'selected-row': selectedRowIndex === row.user_id
                  }"
                  (click)="selectRow(row.user_id)"
                ></mat-row>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell no-data"
                    [attr.colspan]="displayedColumns.length"
                    style="width: 100%"
                  >
                    Sin datos
                  </td>
                </tr>
              </mat-table>
            </div>
          </card-body></card
        >
      </div>
    </div>
  </div>
</div>
