<div class="container-fluid">
  <div class="search">
    <ng-container *ngIf="searchTypes">
      <app-searcher
        [options]="options"
        [searchTypes]="searchTypes"
        (optionSelected)="handleOptionSelected($event)"
      ></app-searcher>
    </ng-container>
  </div>

  <ng-container *ngIf="isLoading; else productSelection">
    <div class="d-flex justify-content-center align-items-center py-4 spinner">
      <div class="spinner-grow text-success"></div>
    </div>
    <p class="text-center">Esperando producto...</p>
  </ng-container>
  <ng-template #productSelection>
    <div class="row content">
      <div class="col-lg-8">
        <!-- Primer card -->
        <div class="row">
          <div class="col">
            <card class="card h-100 data-card mb-4">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">DATOS PRODUCTO</div>
              </card-header>
              <card-body class="pb-2">
                <!-- nombre -->
                <div class="property name">
                  <span class="property-name">Nombre:</span>
                  <span class="property-value fw-bold text-theme">{{
                    product!.name | uppercase
                  }}</span>
                </div>
                <!-- code -->
                <div class="property">
                  <span class="property-name">Código:</span>
                  <span class="property-value fw-bold text-theme">{{
                    product!.code
                  }}</span>
                </div>
                <!-- activo -->
                <div class="property">
                  <span class="property-name">Activo:</span>
                  <span
                    class="property-value fw-bold"
                    [ngClass]="{
                      'text-success': product!.active,
                      'text-danger': !product!.active
                    }"
                    >{{ product!.active ? "SI" : "NO" }}</span
                  >
                </div>
                <!-- alta -->
                <div class="property">
                  <span class="property-name">Alta:</span>
                  <span class="property-value">{{
                    formatDate(product!.created_at!)
                  }}</span>
                </div>
                <!-- categoría -->
                <div class="property">
                  <span class="property-name">Categoría:</span>
                  <span class="property-value">{{
                    getCategoryName(product!.category_id)
                  }}</span>
                </div>
                <!-- subcategorías -->
                <div class="property">
                  <span class="property-name">Subcategoría:</span>
                  <span class="property-value">{{
                    getSubcategoryNames(product!.subcategories)
                  }}</span>
                </div>
                <div class="numbers">
                  <!-- lote -->
                  <!-- <div class="property">
                    <span class="property-name">Lote:</span>
                    <span class="property-value fw-bold">{{
                      product!.lot ? product!.lot + " unidades" : "NO"
                    }}</span>
                  </div> -->
                  <!-- coste -->
                  <!-- <div class="property">
                    <span class="property-name">Coste:</span>
                    <span class="property-value fw-bold"
                      >{{ product!.cost_price | number : "1.2-2" }}
                      {{ product!.lot ? "€/lote" : "€/u." }}</span
                    >
                  </div> -->
                  <!-- precio retirada -->
                  <div class="property retirada">
                    <span class="property-name">Retirada:</span>
                    <span class="property-value fw-bold text-info"
                      >{{ product!.sale_price | number : "1.2-2" }} €/u.</span
                    >
                  </div>
                </div>
                <div class="stock-data">
                  <!-- stock -->
                  <div class="property stock">
                    <span
                      [ngClass]="{
                        'text-warning':
                          product!.stock! >= 0 && product!.stock! <= 10,
                        'text-info': product!.stock! > 10
                      }"
                      class="property-name"
                      >Stock</span
                    >
                    <span
                      [ngClass]="{
                        'text-warning':
                          product!.stock! >= 0 && product!.stock! <= 10,
                        'text-info': product!.stock! > 10
                      }"
                      class="property-value fw-bold"
                      >{{ product!.stock }}</span
                    >
                  </div>
                </div>
                <!-- <h6 class="card-subtitle mb-3 text-inverse text-opacity-50">
                  Genética
                </h6> -->
                <!-- Ancestros -->
              </card-body>
            </card>
          </div>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-2">
        <div class="button-container">
          <button class="btn btn-info" (click)="openEditProductDialog()">
            <i class="bi bi-pencil-square"></i> Editar
          </button>
          <button
            class="btn btn-danger stock-btn"
            (click)="openUpdateStockProductDialog()"
          >
            <i class="fa-solid fa-triangle-exclamation"></i> Stock
          </button>
          <button class="btn btn-default">
            <i class="bi bi-cart-plus"></i> Nueva compra
          </button>
          <button
            (click)="openCreateProductDialog()"
            class="btn btn-success new-product-btn"
          >
            <i class="bi bi-plus"></i> Nuevo producto
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- Botón creación -->
  <div *ngIf="!product" class="new-product-standalone">
    <button
      (click)="openCreateProductDialog()"
      class="btn btn-success new-product-btn"
    >
      <i class="bi bi-plus-circle"></i> Nuevo producto
    </button>
  </div>
</div>
