<div class="modal-header">
  <h5 class="modal-title">EDICIÓN DE USUARIO</h5>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="editUser" class="form-container">
    <div class="form-group mb-3">
      <!--Email-->
      <div class="row">
        <label for="userEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <input
            style="text-align: right"
            type="text"
            readonly
            class="form-control-plaintext float-end"
            id="userEmail"
            [value]="user.email.value"
          />
        </div>
      </div>

      <!--Rol-->
      <div class="row">
        <label for="userRol" class="col-sm-2 col-form-label">Rol:</label>
        <div class="col-sm-10">
          <select
            id="userRol"
            formControlName="rol"
            #selectedRol
            class="form-select float-end"
            (change)="onRoleChange(selectedRol!)"
          >
            <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
          </select>
        </div>
      </div>

      <!--Estado-->
      <div class="row">
        <label for="userState" class="col-sm-2 col-form-label">Estado:</label>
        <div class="col-sm-10">
          <div
            class="btn-group btn-group-toggle float-end"
            data-toggle="buttons"
          >
            <label class="btn btn-success" [class.active]="isActive">
              <input
                type="checkbox"
                name="state1"
                [checked]="isActive"
                (click)="toggleState()"
              />
              Activo
            </label>
            <label class="btn btn-danger" [class.active]="!isActive">
              <input
                type="checkbox"
                name="state2"
                [checked]="!isActive"
                (click)="toggleState()"
              />
              Bloqueado
            </label>
          </div>
        </div>
      </div>
    </div>

    <!--<mat-checkbox formControlName="files" [(ngModel)]="checked" ><mat-icon> attach_file</mat-icon></mat-checkbox>-->
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close()">
    Cerrar
  </button>
  <!-- <button
    type="button"
    class="btn btn-outline-theme"
    (click)="onSubmit(); close(true)"
  >
    Confirmar
  </button> -->
</div>
