.btn-group {
    width            : 100%;
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : center;
    -ms-flex-pack    : center;
    justify-content  : center;
    -webkit-box-align: start;
    -ms-flex-align   : start;
    align-items      : flex-start;

    button {
        max-width: 60px !important;

        i {
            font-size: 18px;
        }
    }
}