<ul class="nav nav-pills mb-3">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="usersRoutes.USERS_LIST"
      routerLinkActive="active"
    >
      <i [class]="icons.USERS_LIST"></i> Listado
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="usersRoutes.USERS_ONLINE"
      routerLinkActive="active"
    >
      <i [class]="icons.STATS"></i> Online
    </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <router-outlet></router-outlet>
</div>
