<div class="modal-header">
  <ng-container *ngIf="operation">
    <h5 *ngIf="operation === cashOperation.INCOME" class="modal-title">
      Introduce la cantidad a ingresar
    </h5>
    <h5 *ngIf="operation === cashOperation.REFUND" class="modal-title">
      Introduce la cantidad a reintegrar
    </h5>
  </ng-container>
  <button type="button" class="btn-close" (click)="close(false)"></button>
</div>
<div class="modal-body">
  <form
    [formGroup]="cashUpdateForm"
    (ngSubmit)="submit(cashUpdateForm)"
    autocomplete="off"
    #formDirective="ngForm"
  >
    <div class="mb-3">
      <label class="form-label"
        >Cantidad <span class="text-danger">*</span></label
      >
      <div class="amount-container">
        <input
          type="number"
          class="form-control form-control-lg bg-inverse bg-opacity-5"
          formControlName="amount"
          matInput
          placeholder="Escribe la cantidad..."
          [errorStateMatcher]="matcher"
          autocomplete="off"
        />
        <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">
          <span *ngIf="amount.hasError('required')">Campo obligatorio.</span>
          <span *ngIf="amount.hasError('max')">
            La cantidad supera el límite actual de la cuenta del socio.
          </span>
          <span *ngIf="amount.hasError('min')"
            >La cantidad debe ser mayor que cero.</span
          >
        </mat-error>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close(false)">
    Cancelar
  </button>
  <button (click)="close(true)" type="submit" class="btn btn-outline-theme">
    Enviar
  </button>
</div>
