<div class="modal-header">
  <h5 class="modal-title">CREACIÓN DE USUARIO</h5>
  <button type="button" class="btn-close" (click)="close(false)"></button>
</div>
<div class="modal-body">
  <form [formGroup]="createUserForm" class="form-container">
    <div class="form-group mb-3">
      <!--Email-->
      <div class="row">
        <label for="createEmail" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <input
            autocomplete="off"
            type="text"
            class="form-control float-start"
            id="createEmail"
            placeholder="Escribe el email del usuario"
            formControlName="email"
          />
        </div>
      </div>

      <!--Rol-->
      <div class="row">
        <label for="createUserRol" class="col-sm-2 col-form-label">Rol:</label>
        <div class="col-sm-10">
          <select
            id="createUserRol"
            formControlName="rol"
            #selectedRol
            class="form-select float-start"
          >
            <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close(false)">
    Cancelar
  </button>
  <button type="button" class="btn btn-outline-theme" (click)="close(true)">
    Confirmar
  </button>
</div>
