<div class="products-container">
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <div class="mb-5">
        <card>
          <card-header
            class="d-block d-flex align-items-center justify-content-center bg-inverse bg-opacity-10 fw-600"
            >LISTADO DE COMPRAS</card-header
          >
          <card-body class="card-body">
            <div class="controls-table">
              <div class="actions-table">
                <button
                  class="btn btn-success"
                  (click)="openCreatePurchasesDialog()"
                >
                  <i class="bi bi-plus-circle"></i> Nueva
                </button>
              </div>
              <div class="filter-table">
                <input
                  (keyup)="applyFilter($event)"
                  #input
                  class="form-control"
                  placeholder="Buscar en la tabla..."
                />
              </div>
            </div>

            <div
              class="text-inverse text-opacity-50 mb-3 table-container table-responsive"
            >
              <mat-table
                mat-table
                [dataSource]="dataSource"
                matSort
                multiTemplateDataRows
                #purchasesListTable
              >
                <!-- ID column -->
                <ng-container matColumnDef="purchase_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >ID</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">ID:</div>
                    <div class="cell-value">{{ row.purchase_id }}</div>
                  </mat-cell>
                </ng-container>

                <!-- Code column -->
                <ng-container matColumnDef="code">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Código</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Código:</div>
                    <div class="cell-value">
                      {{ row.code }}
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- created column -->
                <ng-container matColumnDef="created_at">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Creada</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Alta:</div>
                    <div class="cell-value">
                      {{ getFormattedDate(row.created_at) }}
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- provider column -->
                <ng-container matColumnDef="provider_name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Proveedor</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Cultivador:</div>
                    <div class="cell-value">
                      {{ row.provider_name | uppercase }}
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- cost column -->
                <ng-container matColumnDef="total_amount">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Coste</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Coste:</div>
                    <div class="cell-value">
                      {{ row.total_amount | number : "1.2-2" }} €
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- pending column -->
                <ng-container matColumnDef="pending">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Pendiente</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">
                    <div class="mobile-label">Pendiente:</div>
                    <div
                      class="cell-valuef fw-bold"
                      [ngClass]="{
                        'text-success': row.pending === 0,
                        'text-danger': row.pending > 0
                      }"
                    >
                      {{ row.pending | number : "1.2-2" }} €
                    </div>
                  </mat-cell>
                </ng-container>

                <!-- actions column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div
                      class="btn-group btn-group-toggle"
                      data-toggle="buttons"
                    >
                      <button
                        (click)="openDetails(row, row.purchase_id)"
                        type="button"
                        class="btn btn-info"
                        title="Consultar ficha"
                      >
                        <i class="fa fa-eye"> </i>
                      </button>

                      <button
                        (click)="openConfirmDialog(row.purchase_id)"
                        type="button"
                        class="btn btn-danger"
                        title="Eliminar compra"
                      >
                        <i class="bi bi-x"> </i>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  mat-header-row
                  *matHeaderRowDef="getDisplayedColumns(); sticky: true"
                ></mat-header-row>
                <mat-row
                  mat-row
                  *matRowDef="let row; columns: getDisplayedColumns()"
                  [ngClass]="{
                    'selected-row': selectedRowIndex === row.purchase_id
                  }"
                  (click)="selectRow(row.purchase_id)"
                ></mat-row>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell no-data"
                    [attr.colspan]="getDisplayedColumns().length"
                    style="width: 100%"
                  >
                    Sin datos
                  </td>
                </tr>
              </mat-table>
            </div></card-body
          >

          <div class="mat-paginatory">
            <mat-paginator
              [length]="purchasesList.length"
              [pageSize]="8"
              [pageSizeOptions]="[5, 8, 10, 15, 20, 25, 50, 100]"
            ></mat-paginator>
          </div>
        </card>
      </div>
    </div>
  </div>
</div>
