<!-- BEGIN #app -->
<div
  id="app"
  class="app"
  [ngClass]="{
    'd-none': !appLoaded,
    'app-without-header': appSettings.appHeaderNone,
    'app-without-sidebar': appSettings.appSidebarNone,
    'app-boxed-layout': appSettings.appBoxedLayout,
    'app-sidebar-collapsed': appSettings.appSidebarCollapsed,
    'app-content-full-height': appSettings.appContentFullHeight,
    'app-content-full-width': appSettings.appContentFullWidth,
    'app-footer-fixed': appSettings.appFooter
  }"
>
  <header *ngIf="!appSettings.appHeaderNone"></header>

  <sidebar *ngIf="!appSettings.appSidebarNone"></sidebar>

  <sidebar-mobile-backdrop
    *ngIf="!appSettings.appSidebarNone"
  ></sidebar-mobile-backdrop>

  <div id="content" class="app-content" [class]="appSettings.appContentClass">
    <router-outlet></router-outlet>
  </div>
  ,

  <footer *ngIf="appSettings.appFooter"></footer>
</div>
<!-- END #app -->
<notifier-container></notifier-container>
<ngx-loading-bar
  color="#3cd2a5"
  height="4px"
  [includeSpinner]="false"
></ngx-loading-bar>
