<ul
  #nav
  class="nav nav-pills mb-3 nav-fill"
  [ngClass]="{ 'fixed-tabs': isNavFixed }"
>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.PARTNER_DETAILS"
      routerLinkActive="active"
    >
      <i [class]="icons.PARTNER_DETAILS"></i> CONSULTA
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.PARTNERS_LIST"
      routerLinkActive="active"
    >
      <i [class]="icons.PARTNERS_LIST"></i> LISTADO SOCIOS
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.PARTNER_STATISTICS"
      routerLinkActive="active"
    >
      <i [class]="icons.PARTNERS_STATISTICS"></i> ESTADÍSTICAS SOCIOS
    </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <router-outlet></router-outlet>
</div>
