<ul
  #nav
  class="nav nav-pills mb-3 nav-fill"
  [ngClass]="{ 'fixed-tabs': isNavFixed }"
>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.HARVESTS_DETAILS"
      routerLinkActive="active"
    >
      <i [class]="icons.HARVESTS_DETAILS"></i> CONSULTA
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.HARVESTS_LIST"
      routerLinkActive="active"
    >
      <i [class]="icons.HARVESTS_LIST"></i> LISTADO CULTIVOS
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="pagesRoutes.HARVESTS_STATISTICS"
      routerLinkActive="active"
    >
      <i [class]="icons.HARVESTS_STATISTICS"></i> ESTADÍSTICAS CULTIVOS
    </a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <router-outlet></router-outlet>
</div>
