<div class="modal-header">
  <h5 class="modal-title">Necesaria autenticación</h5>
  <button type="button" class="btn-close" (click)="close(false)"></button>
</div>
<div class="modal-body">
  <form
    [formGroup]="checkPasswordForm"
    (ngSubmit)="submit(checkPasswordForm)"
    autocomplete="off"
    #formDirective="ngForm"
  >
    <div class="mb-3">
      <label class="form-label"
        >Contraseña <span class="text-danger">*</span></label
      >
      <div class="password-container">
        <input
          type="password"
          class="form-control form-control-lg bg-inverse bg-opacity-5"
          formControlName="password"
          matInput
          placeholder="Escribe tu password"
          [errorStateMatcher]="matcher"
          autocomplete="off"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span
            *ngIf="
              (password.hasError('minlength') ||
                password.hasError('maxlength')) &&
              !password.hasError('required')
            "
            >{{ config.VALIDATION.PASSWORD_MIN }} -
            {{ config.VALIDATION.PASSWORD_MAX }} caracteres.
          </span>
        </mat-error>
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span
            *ngIf="
              password.hasError('pattern') && !password.hasError('required')
            "
          >
            Formato de password inválido.</span
          >
        </mat-error>
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <span *ngIf="password.hasError('required')"> Campo obligatorio.</span>
        </mat-error>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close(false)">
    Cancelar
  </button>
  <button (click)="close(true)" type="submit" class="btn btn-outline-theme">
    Enviar
  </button>
</div>
