@import '../../../tables.scss';


.partners-container {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    padding           : 0;


    .controls-table {
        display           : -webkit-box;
        display           : -ms-flexbox;
        display           : flex;
        width             : 100%;
        -webkit-box-pack  : justify;
        -ms-flex-pack     : justify;
        justify-content   : space-between;
        -webkit-column-gap: 15px;
        -moz-column-gap   : 15px;
        column-gap        : 15px;

        .actions-table {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order           : 2;
            order                    : 2;
            -webkit-box-flex         : 1;
            -ms-flex-positive        : 1;
            display                  : -webkit-box;
            display                  : -ms-flexbox;
            display                  : flex;
            -webkit-box-pack         : end;
            -ms-flex-pack            : end;
            justify-content          : flex-end;
        }

        .filter-table {
            -webkit-box-ordinal-group: 2;
            -ms-flex-order           : 1;
            order                    : 1;
            -webkit-box-flex         : 1;
            -ms-flex-positive        : 1;
            flex-grow                : 1;
        }
    }


    .table-container {
        max-width            : 100%;
        margin-top           : 15px;
        display              : -webkit-box;
        display              : -ms-flexbox;
        display              : flex;
        -webkit-box-orient   : vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction   : column;
        flex-direction       : column;


        .mat-column-actions {

            .btn-group {
                display         : -webkit-box;
                display         : -ms-flexbox;
                display         : flex;
                -webkit-box-pack: center;
                -ms-flex-pack   : center;
                justify-content : center;

                button {
                    height   : 30px;
                    min-width: 50px;
                    cursor   : pointer;

                    i {
                        font-size : 15px;
                        position  : relative;
                        top       : -2px;
                        font-style: normal !important;
                    }
                }
            }
        }

        .no-data {
            width           : 100%;
            display         : -webkit-box;
            display         : -ms-flexbox;
            display         : flex;
            -webkit-box-pack: center;
            -ms-flex-pack   : center;
            justify-content : center;
        }
    }

}

:host ::ng-deep .mat-column-number {
    min-width: 50px;
}


:host ::ng-deep .mat-column-name {
    min-width: 250px;
}

:host ::ng-deep .mat-column-wallet {
    min-width: 100px;
}

:host ::ng-deep .mat-column-fee {
    min-width: 100px;
}

:host ::ng-deep .mat-column-registration {
    min-width: 100px;
}

:host ::ng-deep .mat-column-leaves {
    min-width: 100px;
}

:host ::ng-deep .mat-column-active {
    min-width: 100px;
}

:host ::ng-deep .mat-column-cannabis {
    min-width: 100px;
}

:host ::ng-deep .mat-column-hash {
    min-width: 100px;
}


:host ::ng-deep .mat-column-extractions {
    min-width: 100px;
}


:host ::ng-deep .mat-column-actions {
    min-width: 120px;
}


:host ::ng-deep mat-header-cell {
    background-color: inherit !important;
}

:host ::ng-deep mat-cell {
    background-color: transparent !important;
}

:host ::mat-table {
    background-color: transparent !important;
}