.coming-soon-timer {
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    -webkit-box-align    : start;
    -ms-flex-align       : start;
    align-items          : flex-start;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
}