<div class="container-fluid">
  <div class="search">
    <app-searcher
      [options]="options"
      [searchTypes]="searchTypes"
      (optionSelected)="handleOptionSelected($event)"
    ></app-searcher>
  </div>

  <ng-container *ngIf="isLoading; else partnerSelection">
    <div
      class="d-flex justify-content-center align-items-center py-4 spinner spinner-top"
    >
      <div class="spinner-grow text-success"></div>
    </div>
    <p class="text-center">Esperando socio...</p>
  </ng-container>
  <ng-template #partnerSelection>
    <!-- Contenido  -->
    <div class="row content">
      <div class="col-lg-10">
        <div class="row row-cols-1 row-cols-xl-2 g-3">
          <div class="col">
            <card class="card h-100 data-card mb-4">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">DATOS PERSONALES</div>
              </card-header>
              <card-body class="pb-2">
                <!--Number-->
                <div
                  class="badge badge-primary border col-xl-2 number-container text-info"
                  [ngClass]="getIconClasses()"
                >
                  <div class="">
                    <i
                      class="bi bi-person-fill"
                      [ngClass]="getIconClasses()"
                    ></i>
                  </div>
                  <div *ngIf="partner" [ngClass]="getIconClasses()">
                    {{ partner.number || 0 }}
                  </div>
                </div>
                <div class="property name fw-bold">
                  <span class="property-name">Nombre:</span>
                  <span class="property-value text-theme"
                    >{{ partner!.surname | uppercase }},
                    {{ partner!.name | uppercase }}</span
                  >
                </div>
                <div class="property type">
                  <span class="property-name">Tipo:</span>
                  <span class="property-value fw-bold text-theme">{{
                    partnerTypes[partner?.partner_type_id!]
                  }}</span>
                </div>

                <div class="property">
                  <span class="property-name">Terapéutico:</span>
                  <span class="property-value fw-bold text-theme">{{
                    partner!.therapeutic ? "SI" : "NO"
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Alta:</span>
                  <span class="property-value fw-bold">{{
                    formatDate(partner!.created_at!)
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Nacimiento:</span>
                  <span class="property-value">{{
                    formatDate(partner!.birthday)
                  }}</span>
                </div>
                <div class="property">
                  <span class="property-name">DNI:</span>
                  <span class="property-value">{{ partner!.dni }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Email:</span>
                  <span class="property-value">{{ partner!.email.value }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Teléfono:</span>
                  <span class="property-value">{{ partner!.phone }}</span>
                </div>
                <div class="property">
                  <span class="property-name">Domicilio:</span>
                  <span class="property-value">{{ partner!.address }}</span>
                </div>
                <div class="property" *ngIf="partner!.leaves">
                  <span class="property-name">Baja:</span>
                  <span class="property-value text-danger">{{
                    formatDate(partner!.leaves)
                  }}</span>
                </div>
                <!-- TOPES -->
                <h6 class="card-subtitle mb-3 text-inverse text-opacity-50">
                  Topes mes
                </h6>
                <div class="property">
                  <span class="property-name">Tope maria/mes:</span>
                  <span class="property-value"
                    >{{ partner!.cannabis_month | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Tope hash/mes:</span>
                  <span class="property-value"
                    >{{ partner!.hash_month | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Tope extrac./mes:</span>
                  <span class="property-value"
                    >{{
                      partner!.extractions_month | number : "1.2-2"
                    }}
                    gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Tope otros/mes:</span>
                  <span class="property-value"
                    >{{ partner!.others_month | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property" style="font-weight: bold">
                  <span class="property-name">Tope total/mes:</span>
                  <span class="property-value text-info"
                    >{{ getTotalTopMonth() | number : "1.2-2" }} gr.</span
                  >
                </div>
              </card-body>
            </card>
          </div>
          <div class="col">
            <card class="card h-100 activity-card">
              <card-header class="card-header bg-inverse bg-opacity-10 fw-400">
                <div class="title">ACTIVIDAD</div>
              </card-header>
              <card-body class="pb-2">
                <!-- ACTIVIDAD -->
                <!-- CASH -->
                <div class="property monedero">
                  <span class="property-name">Cuenta:</span>
                  <span
                    class="property-value fw-bold"
                    [ngClass]="{
                      'text-success': partner!.cash >= 0,
                      'text-danger': partner!.cash < 0
                    }"
                    >{{ partner!.cash | number : "1.2-2" }} €</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Activo:</span>
                  <span
                    class="property-value fw-bold"
                    [ngClass]="{
                      'text-success': partner!.active,
                      'text-danger': !partner!.active
                    }"
                    >{{ partner!.active ? "SI" : "NO" }}</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Última actividad:</span>
                  <span class="property-value">{{
                    formatDate(partner!.created_at!)
                  }}</span>
                </div>

                <!-- CUOTA -->
                <h6 class="card-subtitle mb-3 text-inverse text-opacity-50">
                  Cuota
                </h6>
                <div class="property">
                  <span class="property-name">Cuota:</span>
                  <span class="property-value fw-bold">
                    {{ getFeesTypeString(lastCuotaFee.fees_type_id) }}
                  </span>
                </div>
                <div class="property">
                  <span class="property-name">Vencimiento:</span>
                  <span
                    class="property-value fw-bold"
                    [ngClass]="{
                      'text-danger':
                        !isFeeExent(lastCuotaFee) &&
                        isExpired(lastCuotaFee.expiration!),
                      'text-warning':
                        !isFeeExent(lastCuotaFee) &&
                        isCurrentMonth(lastCuotaFee.expiration!),
                      'text-success':
                        !isFeeExent(lastCuotaFee) &&
                        !isCurrentMonth(lastCuotaFee.expiration!) &&
                        !isExpired(lastCuotaFee.expiration!)
                    }"
                  >
                    {{
                      !isFeeExent(lastCuotaFee)
                        ? formatDate(lastCuotaFee.expiration!)
                        : "N/A"
                    }}
                  </span>
                </div>
                <div
                  class="property"
                  *ngIf="
                    !isInscriptionExent(lastInscriptionFee) &&
                    !lastInscriptionFee.paid
                  "
                >
                  <span class="property-name">Inscripción:</span>
                  <span class="property-value fw-bold">{{
                    getFeesTypeString(lastInscriptionFee.fees_type_id)
                  }}</span>
                </div>
                <div
                  class="property"
                  *ngIf="
                    !isInscriptionExent(lastInscriptionFee) &&
                    !lastInscriptionFee.paid
                  "
                >
                  <span class="property-name">Vencimiento:</span>
                  <span
                    class="property-value fw-bold"
                    [ngClass]="{
                      'text-danger':
                        !isFeeExent(lastInscriptionFee) &&
                        isExpired(lastInscriptionFee.expiration!),
                      'text-success':
                        !isFeeExent(lastInscriptionFee) &&
                        !isExpired(lastInscriptionFee.expiration!)
                    }"
                    >{{
                      !isInscriptionExent(lastInscriptionFee)
                        ? formatDate(lastInscriptionFee.expiration!)
                        : "N/A"
                    }}</span
                  >
                </div>
                <!-- CONSUMO -->
                <h6 class="card-subtitle mb-3 text-inverse text-opacity-50">
                  Consumo
                </h6>

                <div class="property">
                  <span class="property-name">Consumo mes:</span>
                  <span class="property-value"
                    >{{ 0 | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Consumo total:</span>
                  <span class="property-value"
                    >{{ 0 | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Exceso mes:</span>
                  <span
                    class="property-value"
                    [ngClass]="{
                      'text-success': overMonth <= 0,
                      'text-danger': overMonth > 0
                    }"
                    >{{ 0 | number : "1.2-2" }} gr.</span
                  >
                </div>
                <div class="property">
                  <span class="property-name">Exceso total:</span>
                  <span
                    class="property-value"
                    [ngClass]="{
                      'text-success': overTotal <= 0,
                      'text-danger': overTotal > 0
                    }"
                    >{{ 0 | number : "1.2-2" }} gr.</span
                  >
                </div>
                <!-- PRODUCTOS PREFERIDOS -->

                <div class="list-group">
                  <a class="list-group-item list-group-item-action"
                    ><i class="bi bi-trophy-fill"></i> <span>Sour Diesel</span>
                  </a>
                  <a class="list-group-item list-group-item-action"
                    ><i class="bi bi-trophy-fill"></i> <span>White Widow</span>
                  </a>
                  <a class="list-group-item list-group-item-action"
                    ><i class="bi bi-trophy-fill"></i> <span>Lemon Haze</span>
                  </a>
                </div>
              </card-body>
            </card>
          </div>
        </div>
        <!-- <div class="documentacion">
          <app-file-downloader></app-file-downloader>
        </div> -->
      </div>
      <!-- Botones -->
      <div class="col-lg-2">
        <div class="button-container">
          <div class="btn-gr sell">
            <button
              [disabled]="partner!.leaves"
              class="btn btn-primary sell-button"
              title="Dispensar"
            >
              <i class="bi bi-cart3"></i>
            </button>
          </div>
          <div class="btn-gr">
            <button
              [disabled]="partner!.leaves"
              class="btn btn-success"
              (click)="updatePartnersCash(cashOperation.INCOME)"
            >
              <i class="bi bi-cash-coin"></i> Ingreso
            </button>

            <button
              [disabled]="partner!.cash <= 0 || partner!.leaves"
              class="btn btn-danger"
              (click)="updatePartnersCash(cashOperation.REFUND)"
            >
              <i class="bi bi-cash-coin"></i> Reintegro</button
            ><button
              [disabled]="
                !(
                  isExpired(lastCuotaFee.expiration!) ||
                  isCurrentMonth(lastCuotaFee.expiration!)
                ) ||
                isFeeExent(lastCuotaFee) ||
                partner!.leaves
              "
              class="btn btn-success"
              (click)="payFeeConfirm(lastCuotaFee)"
            >
              <i class="bi bi-shield-check"></i> Abonar cuota
            </button>
            <button
              [disabled]="partner!.leaves"
              class="btn btn-success"
              (click)="payFeeConfirm(lastInscriptionFee)"
              *ngIf="
                !isInscriptionExent(lastInscriptionFee) &&
                !lastInscriptionFee.paid
              "
            >
              <i class="bi bi-shield-check"></i> Abonar inscripción
            </button>
            <!-- <button
              [disabled]="isFeeExent(lastCuotaFee)"
              class="btn btn-danger"
              (click)="payFeeConfirm(lastCuotaFee)"
            >
              <i class="bi bi-shield-x"></i> Reintegro cuota
            </button> -->
          </div>
          <div class="btn-gr">
            <button class="btn btn-default" (click)="openPartnerHistory()">
              <i class="bi bi-person-badge"></i> Historial
            </button>
            <button
              [disabled]="partner!.leaves"
              class="btn btn-info"
              (click)="openEditPartnerDialog()"
            >
              <i class="bi bi-pencil-square"></i> Editar & Doc.
            </button>
            <button
              [disabled]="partner!.leaves"
              class="btn btn-warning"
              (click)="updateAccessCode()"
            >
              <i class="bi bi-door-open"></i> Acceso
            </button>
            <button
              [disabled]="partner!.leaves"
              class="btn btn-danger"
              (click)="partnersLeavesConfirm()"
            >
              <i class="bi bi-person-down"></i> Baja socio
            </button>
            <button
              (click)="openCreatePartnerDialog()"
              class="btn btn-success new-partner-btn"
            >
              <i class="bi bi-person-fill-add"></i> Alta nueva
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <div *ngIf="!partner" class="new-partner-standalone">
    <button
      (click)="openCreatePartnerDialog()"
      class="btn btn-success new-partner-btn"
    >
      <i class="bi bi-person-fill-add"></i> Alta nueva
    </button>
  </div>
</div>
