.search {
    height       : 50px;
    margin-bottom: 30px;
}

.content {
    margin-top: 40px;
}

.new-partner-btn {
    min-height    : 50px;
    letter-spacing: .7px;
    width         : 100%;
    max-width     : 200px;
}


.button-container {
    position             : -webkit-sticky;
    position             : sticky;
    top                  : 150px;
    width                : 100%;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    row-gap              : 15px;
    -webkit-box-pack     : center;
    -ms-flex-pack        : center;
    justify-content      : center;
    -webkit-box-align    : center;
    -ms-flex-align       : center;
    align-items          : center;
    margin-top           : -10px;





    .btn-gr {
        width                : 100%;
        display              : -webkit-box;
        display              : -ms-flexbox;
        display              : flex;
        -webkit-box-orient   : vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction   : column;
        flex-direction       : column;
        row-gap              : 15px;
        -webkit-box-pack     : center;
        -ms-flex-pack        : center;
        justify-content      : center;
        -webkit-box-align    : center;
        -ms-flex-align       : center;
        align-items          : center;
        margin               : 15px auto;
        margin-bottom        : 0;


    }

    button {
        min-height    : 45px;
        letter-spacing: .7px;
        width         : 100%;
        max-width     : 200px;


        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            i {
                font-size: 20px;
                position : relative;
                top      : 0;
            }

        }

        &:nth-child(1) {
            i {
                position : relative;
                top      : 1px;
                font-size: 18px;
            }
        }
    }
}

.spinner-top {
    margin-top: 150px;
}

.icon-neutral {
    color: #999999;
    /* Color neutro */
}

.icon-positive {
    color: #66cc66;
    /* Color positivo */
}

.icon-negative {
    color: #ff6666;
    /* Color negativo */
}


.data-card,
.activity-card {
    h6 {
        text-align: center;
        margin-top: 20px;
    }


    .number-container {
        font-weight      : 600;
        font-size        : 1rem;
        max-width        : 110px;
        background-color : rgba(0, 0, 0, .4) !important;
        margin-bottom    : 15px;
        display          : -webkit-box;
        display          : -ms-flexbox;
        display          : flex;
        -webkit-box-pack : justify;
        -ms-flex-pack    : justify;
        justify-content  : space-between;
        -webkit-box-align: center;
        -ms-flex-align   : center;
        align-items      : center;
        text-transform   : uppercase;
        font-size        : 1.1rem;
        padding          : 10px;
        position         : relative;
        margin-bottom    : 20px;

        top : -7.5px i {
            font-size: 1.2rem;
        }
    }

    .monedero .property-value {
        font-size: 1rem;

    }

    .property {
        display         : -webkit-box;
        display         : -ms-flexbox;
        display         : flex;
        -webkit-box-pack: justify;
        -ms-flex-pack   : justify;
        justify-content : space-between;
        margin-bottom   : 10px;

        .property-name {
            font-weight: bold;
            width      : -webkit-fit-content;
            width      : -moz-fit-content;
        }

        .property-value {
            -webkit-box-flex : 1;
            -ms-flex-positive: 1;
            flex-grow        : 1;
            margin-left      : 10px;
            width            : -webkit-fit-content;
            width            : -moz-fit-content;
            text-align       : right;
        }
    }
}

.documentacion {
    margin-top: 20px;
}

.new-partner-standalone {
    display         : -webkit-box;
    display         : -ms-flexbox;
    display         : flex;
    -webkit-box-pack: center;
    -ms-flex-pack   : center;
    justify-content : center;
}



.list-group {
    max-height   : 140px;
    overflow-y   : auto;
    margin-top   : 30px;
    margin-bottom: 15px;

    a {
        display         : -webkit-box;
        display         : -ms-flexbox;
        display         : flex;
        -ms-flex-pack   : distribute;
        -webkit-box-pack: justify;
        justify-content : space-between;

        i,
        span {
            display: block;
        }

        i {
            font-size: 17px;
        }

        &:first-child {
            i {
                color: yellow;
            }
        }

        &:nth-child(2) {
            i {
                color: azure;
            }
        }

        &:last-child {
            i {
                color: brown;
            }
        }
    }


}

.sell-button {
    height              : 100px !important;
    display             : -webkit-box !important;
    display             : -ms-flexbox !important;
    display             : flex !important;
    -webkit-box-pack    : center;
    -ms-flex-pack       : center;
    justify-content     : center;
    -webkit-box-align   : center;
    -ms-flex-align      : center;
    align-items         : center;
    // min-height       : inherit !important;
    // letter-spacing   : inherit !important;
    // max-width        : inherit !important;
    margin-top          : 20px;
    cursor              : pointer;

    i {
        font-size: 36px !important;
    }
}

.sell {
    margin-top: -10px !important;
}