ul {
    margin-bottom: 40px !important;
    margin-top   : -7.5px;
    position     : -webkit-sticky !important;
    position     : sticky !important;
    top          : 50px;
    z-index      : 999 !important;
}

.fixed-tabs {
    background-color: #c0cacf;

    .active {
        color           : #FFF !important;
        background-color: #FFF !important;
    }


    li {
        a {
            color: #35434a !important;
        }
    }

}

a {
    font-weight: 600 !important;
}